* {
  font-family: "Mulish", sans-serif;
  color: white;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.togglesContainer {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;

  padding: 70px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
}

.questionContainer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleChoicesContainer {
  width: 100%;
  max-width: 930px;
  padding: 15px;
}

.toggleChoiceContainer {
  width: 100%;

  display: flex;
  flex-direction: row;

  font-size: 1.5rem;
  padding: 1.25rem 0;

  border: 2px solid #f9d29f;
  border-radius: 100px;
}

.toggleChoice {
  width: 50%;
  text-align: center;
}
